body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

/*
 * Header specific stylings
 */

header {
  width: 100%;
  text-align: center;
}

.header__picture {
  width: 50%;
  margin: 1.5em auto;
}

.header__picture > img {
  width: 100%;
  height: 100%;
}

.header__titles {
  text-transform: uppercase;
}

.header__title {
  font-size: 2.5em;
  font-weight: 300;
  color: #7d97ad;
}

.header__subtitle {
  font-size: 1.3em;
}

spacer {
  display: block;
  height: 1px;
  border-top: 1px solid #7d97ad;
}

/*
 * Main specific stylings
 */

 main {
   width: 100%;
 }

.front__end__cloud > img {
  display: none;
}

.profile__description > p {

  font-weight: 400;
  font-size: 18px;
  line-height: 2em;
  color: #2d3c49;
  text-align: center;
}

.featured__work {
  margin-top: 3em;
}

.featured__work > h2 {
  font-weight: 400;
  color: #7d97ad;
}

.featured__work__card {
  margin: 3em 1em;
}

.featured__work__card > img {
z-index: -1;
  width: 100%;
  height: 100%;
}

.featured__work__card > h3 {
  text-align: center;
  font-size: 1.5em;
}

.featured__work__card > p {

}
