body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2d3c49;
  text-align: center;
}

/*
 * Header specific stylings
 */

h3 {
  text-transform: uppercase;
}

.header-picture {
  width: 50%;
  margin: 2em auto;
}

.header-picture > img {
  width: 100%;
}

.header-title {
  font-size: 2.5em;
  font-weight: 300;
  color: #7d97ad;
}

.header-subtitle {
  font-size: 1.3em;
}

spacer {
  display: block;
  border-top: 1px solid #7d97ad;
}

/*
 * Main specific stylings
 */

 main {
   width: 100%;
 }

.image-cloud {
  display: none;
}

.intro {
  font-size: 1.1em;
  line-height: 2em;
  margin: 0.5em 0.5em;
}

.intro-greeting {
  font-size: 2em;
  font-weight: 300;
}

/*
 * Projects specific stylings
 */

.projects {
  margin-top: 3em;
  text-align: left;
}

.projects-title {
  width: 100%;
  font-size: 1.8em;
  font-weight: 400;
  color: #7d97ad;
  margin-left: 0.5em;
}

.project-card {
  margin: 2em 2em;
}

.project-card-image {
  width: 100%;
}

.project-card > h3 {
  text-align: center;
  font-size: 1.5em;
}
