body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #2d3c49;
  text-align: center;
  margin: 0;
  padding: 0;
}

section {
  margin: 1em 1em;
}

/*
 * Header specific stylings
 */

h3 {
  text-transform: uppercase;
}

.header-picture {
  width: 50%;
  margin: 1em auto 0 auto;
}

.header-picture > img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-title {
  font-size: 2.5em;
  font-weight: 400;
  color: #11B4E4;
  margin: 0.6em 0 0.4em 0;
}

.header-subtitle {
  font-size: 1.3em;
}

.social-media > a {
  text-decoration: none;
}

.social-media > a > i {
  font-size: 1.7em;
  color: #7d8185;
  margin: 0 0.2em;
}

.social-media {
  margin-bottom: 0.7em;
}

/*
 * Main specific stylings
 */

 main {
   width: 100%;
 }

.banner {
  position: relative;
  background: url('../resources/macbook2.jpg') center 60% no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
  background-size: cover;
  height: 320px;
  margin: 0;
}

.banner-text > h2 {
  margin: 1em 1em;
  position: absolute;
  width: calc(100% - 2em);
  text-align: center;
  color: #fff;
  line-height: 1.5em;
  font-weight: 400;
}

.banner-greeting {
  top: 5%;
  font-size: 2em;
  font-weight: 400;
}

.banner-intro {
  top: 25%;
}

.section-title {
 width: 100%;
}

.section-title > h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #11B4E4;
  display: inline-block;
}

.section-title::after {
  content: "";
  width: 30%;
  display: block;
  margin: 0.1em auto 2em auto;
  border-bottom: 1px solid #11B4E4;
}

/*
 * Skills specific stylings
 */

.skills {
  width: calc(100% - 2em);
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin: 1em 1em;
  width: 40%;
}

.skill > svg {
  width: 150px;
  height: 150px;
}

.skill-donut-circle {
  cx: 21;
  cy: 21;
  r: 16;
}

.skill-donut-hole {
  fill: #fff;
}

.skill-donut-ring {
  fill: transparent;
  stroke-opacity: 0.6;
  stroke: #d2d3d4;
  stroke-width: 3
}

.skill-donut-segment {
  fill: transparent;
  stroke-opacity: 0.8;
  stroke: #11B4E4;
  stroke-width: 3;
  stroke-dashoffset: 25;
}

.skill-donut-label {
  font-size: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.5em);
  -ms-transform: translateY(0.5em);
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

/*
 * Projects specific stylings
 */

.projects {
  margin-top: 2em;
}

.project-card {
  margin: 1.5em 1.5em;
}

.project-card-image {
  width: 100%;
}

.project-card > h3 {
  text-align: center;
  font-size: 1.3em;
}

.project-card > p {
  text-align: left;
}
