@media screen and (min-width: 550px) {
  body {
    font-size: 16px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
  }

  .header-picture {
    margin: 1em 1.5em;
    order: 0;
    width: calc(25% - 3em);
    text-align: left;
  }

  .header-picture > img {
    width: 180px;
    height: 180px;
  }

  .header-titles {
    margin: 3em 1.5em 1em 1.5em;
    order: 1;
    width: calc(75% - 3em);
  }

  .header-title, .header-subtitle, .social-media {
    width: 100%;
    text-align: right;
  }

  .section-title > h2 {
    font-size: 1.8em;
    text-align: left;
  }

  .skill {
    width: calc(33.33% - 2em);
  }
}

@media screen and (min-width: 650px) {
  .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  section {
    margin: 0;
  }

  .section-title > h2 {
    margin-bottom: 0.6em;
  }

  .project-card {
    margin: 1em 2em;
    width: calc(50% - 4em);
  }

  .skill {
    width: calc(25% - 2em);
  }

  .section-title::after {
    width: 195px;
  }
}

@media screen and (min-width: 1100px) {


  .banner {
    background: url('../resources/macbook.jpg') 50% 75% no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    height: 400px;
    width: 100%
  }

  .banner-intro {
    top: 20%;
  }

  .project-card {
    margin: 1em 2em;
    width: calc(33.33% - 4em);
  }

  .skill {
    width: calc(16.66% - 2em);
  }
}

@media screen and (min-width: 1400px) {
  header, .projects, .skills {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
  }
}
