@media screen and (min-width: 550px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }

  .header-picture {
    margin: 1em 1.5em;
    order: 0;
    width: calc(25% - 3em);
    text-align: left;
  }

  .header-picture > img {
    width: 150px;
    height: 150px;
  }

  .header-titles {
    margin: 2em 1.5em;
    order: 1;
    width: calc(75% - 3em);
  }

  .header-title, .header-subtitle {
    width: 100%;
    text-align: right;
  }

  spacer {
    width: 100%;
    height: 1px;
    border-top: 1px solid #7d97ad;
    order: 2;
  }
}

@media screen and (min-width: 650px) {
  .image-cloud {
     width: 80%;
     margin: 1em auto;
     display: block;
  }

  .projects {
    widows: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    margin: 2em 3em;
    width: calc(50% - 6em);
  }
}

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
